.center {
  display: flex;
  justify-content: center;
}

#table__cards {
  //border-collapse: separate;
  border-spacing: 0; // Supprime l'espace entre les cellules
  margin: 20px auto;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  width: 90%;
  overflow-x: auto; /* Active la barre de défilement horizontale si nécessaire */

  //box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

  thead {
    //border-collapse: separate;
    //border-spacing: 0;

    tr {
      table-layout: auto;
      background-color: #009879;
      color: #ffffff;
      text-align: left;

      th {
        table-layout: auto;
        padding: 12px 15px;
      }

      #tr__deleteCard {
        text-align: center;
      }
    }
  }

  .td_rowcard__id {
    display: flex;
    align-items: center;
  }

  tr td {
    //border-bottom: 1px solid black;
    table-layout: auto;

    padding: 12px 15px;
    margin: auto 0;
    //border-left: 1px solid #00362d;

    &:first-child {
      border-left: none;
    }

    a {
      text-decoration: none;
      color: #1a1a1a;
    }

    .tableau_card__image {
      width: 50px;
      height: 50px;
      margin-right: 1em;
    }


    .button__deletecard {
      padding: 5px;
      width: auto;
      height: auto;

      svg {
        width: 20px;
        height: AUTO;
        transition: .3s;
      }

      svg:hover {
        color: red;
        width: 20px;
        height: AUTO;
        transition: .3s;
      }
    }

    .button__editcard {
      padding: 5px;
      width: auto;
      height: auto;

      svg {
        width: 20px;
        height: AUTO;
        transition: .3s;
      }

      svg:hover {
        color: gold;
        width: 20px;
        height: AUTO;
        transition: .3s;
      }
    }

    .online {
      padding: 5px;
      background-color: #208537;
      border: 2px solid #145722;
      margin: 0;
      font-weight: bold;
      color: white;
      width: auto;
      border-radius: 5px;
      text-align: center;
    }
  }

  tr:not(:last-child) {
    border-bottom: 1px solid black;
  }


  tbody {
    .Admin {
      background-color: #ff8a8a;

      &:nth-of-type(even) {
        background-color: #ff5454; // Nouvelle couleur pour les lignes paires
      }

    }

    .Legendary {
      background-color: #ffed8a;

      &:nth-of-type(even) {
        background-color: #ffe137; // Nouvelle couleur pour les lignes paires
      }

    }

    .Common {
      background-color: #e6e6e6; // Nouvelle couleur pour les lignes paires

      &:nth-of-type(even) {
        background-color: #bdbdbd;
      }

    }

    tr {
      &:nth-of-type(even) {
        background-color: #00c596; // Nouvelle couleur pour les lignes paires
      }

      &:not(:last-child) {
        td {
          border-bottom: 1px solid #00362d; // Ajoute une bordure en bas de chaque cellule sauf la dernière
        }
      }
    }
  }
}

