.playerTable__div__container {
  display: flex;

  .image__avatar {
    margin-right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 5px;

  }
}

.tag {
  padding: 5px;
  margin: 0;
  font-weight: bold;
  color: white;
  width: auto;
  border-radius: 5px;
  text-align: center;
}

.offline {
  background-color: #8c1f1f;
  border: 2px solid #5f1414;
}

.online {
  background-color: #208537;
  border: 2px solid #145722;
}

.undefined {
  background-color: #8c8c8c;
  border: 2px solid #5f5f5f;
}

.button__deletecard:hover {
  border: red 2px solid;
}

.button__deletecard {
  padding: 5px;
  width: auto;
  height: auto;
  background-color: inherit;

  svg {
    width: 20px;
    height: AUTO;
    transition: .3s;
  }

  svg:hover {
    color: red;
    width: 20px;
    height: AUTO;
    transition: .3s;
    border: 0;
  }
}